<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="text-center">
    <h1 class="bg-primary text-white p-5">Famous Quotes</h1>
    <%- include("partials/nav.ejs") %>

    <form id="searchByKeywordForm" action="/searchByKeyword" method="GET">
        <label for="keywordBtn">Keyword: <input type="text" name="keyword"></label>
        <button id="keywordBtn" type="submit" class="btn btn-outline-success">SearchKeyword</button>
    </form>

    <form action="/searchByAuthor" method="GET">
        <label>Author: 
            <select name="authorId">
                <% for(let authorRow of authorRows){ %>
                    <option value="<%= authorRow.authorId %>"> <%= authorRow.firstName %> <%= authorRow.lastName %> </option>
                <% } %>
            </select>
        </label>
        <button type="submit" class="btn btn-outline-success">SearchAuthor</button>
    </form>

    <form action="/searchByCategory" method="GET">
        <label>Categories: 
            <select name="category">
                <% for(let cRow of cRows){ %>
                    <option value="<%= cRow.category %>"> <%= cRow.category %></option>
                <% } %>
            </select>
        </label>
        <button type="submit" class="btn btn-outline-success">SearchAuthor</button>
    </form>
    

    <form action="/searchByLike" method="GET">
        <label>Likes:
            <!-- Users are able to search quotes by the range of likes (min - max) -->
            <input type="text" name="minLikes" placeholder="Min Likes">
            <input type="text" name="maxLikes" placeholder="Max Likes">
            <!-- <% for(let cRow of cRows){ %>
                <option value="<%= cRow.category %>"> <%= cRow.category %></option>
            <% } %> -->
        </label>
        <button type="submit" class="btn btn-outline-success">SearchLike</button>
    </form>
    
    <script src="/js/home.js"></script>
</body>
</html>